.category-header {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: baseline;
  justify-content: space-between;
}
.category-name {
  min-width: 100px;
  font-size: 15px;
  margin-right: 10px;
}
.category-rank-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.add-category-node-button {
  margin-top: 15px;
  font-size: 12px;
  width: 100%;
}
