.post-content {
  margin-top: 20px;
}
.post {
  position: relative;
  margin: 2px;
  padding: 2em;
  min-height: 120px;
}
.post-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.post-title {
  text-decoration: none;
}

.post-description {
  margin-bottom: 2em;
}
.post-bottom-row {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
