@use "@angular/material" as mat;
@use "../../../styles/variables.scss";

.sidenav-container {
  height: calc(100% - #{variables.$toolbar-height-desktop}) !important;
}
.container-wrapper {
  height: 100%;
}
.sidenav {
  position: absolute;
  width: variables.$sidenav-width;
  overflow: hidden;

  @include mat.elevation(2);

  &.mat-drawer-side {
    border-width: 0;
  }
}
.content-wrapper {
  display: flex;
}
.main-content {
  flex: 2;
}
