.form-wrapper {
  padding: 2em;
}
.full-width-field {
  width: 100%;
}
.category-select-field {
  transition: none !important;
  width: 90%;
}
.row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.reviewed_categories-wrapper {
  margin-top: 20px;
}

.add-review-button {
  margin-top: 15px;
  font-size: 12px;
  width: 100%;
}
